.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -5px;
  left: 50%;
  background-color: white;
  transition: all 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  left: 0;
}

.contact-button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-button:hover {
  background-color: red;
  border-color: red;
  color: white;
}